

ul{
  list-style-type: none;
}
/* Slideshow
--------------------- */
.carousel-item {
  position: absolute;
  height: 100vh;
  width: 100%;
  min-width: 600px;
  min-height: 360px;
  font-family: BerlinSansFBDemiBold;
}

.carousel-item1 {
  background: -o-linear-gradient(45deg, rgba(35, 35, 35, 0.4), rgba(35, 35, 35, 0.7)), url('img/Campus.jpg');
  background: linear-gradient(45deg, rgba(35, 35, 35, 0.4), rgba(35, 35, 35, 0.7)), url('img/Campus.jpg');
  background-size: cover;
  background-position: center;
}

.carousel-item2 {
  background: -o-linear-gradient(45deg, rgba(35, 35, 35, 0.4), rgba(35, 35, 35, 0.7)), url('img/library.jpg');
  background: linear-gradient(45deg, rgba(35, 35, 35, 0.4), rgba(35, 35, 35, 0.7)), url('img/library.jpg');
}

.carousel-item3 {
  background: -o-linear-gradient(45deg, rgba(35, 35, 35, 0.4), rgba(35, 35, 35, 0.7)), url('img/su.jpg');
  background: linear-gradient(45deg, rgba(35, 35, 35, 0.4), rgba(35, 35, 35, 0.7)), url('img/su.jpg');
  background-size: cover;
  background-position: center;
}

.carousel-caption {
  width: 800px;
  position: absolute;
  top: 55%;
  left: 10%;
  -webkit-transform: translate(10%, -55%);
  -ms-transform: translate(10%, -55%);
  transform: translate(10%, -55%);
}

.carousel-caption h5 {
  font-size: 4rem;
  font-weight: 800;
}

.carousel-caption p {
  display: inline-block;
  margin-top: 1.2rem;
  padding: 1rem 1.8rem;
  background: var(--color-base);
}

.carousel-caption p a {
  color: #fff;
  font-size: 1.3rem;
}
menu-bar ul ul ul{
  border-top: none;
}

menu-bar ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

menu-bar ul ul li{
  position: relative;
  margin: 0;
  width: 150px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}