

ul{
  list-style-type: none;
}
/* Slideshow
--------------------- */
.carousel-item {
  position: absolute;
  height: 100vh;
  width: 100%;
  min-width: 600px;
  min-height: 360px;
  font-family: BerlinSansFBDemiBold;
}

.carousel-item1 {
  background: -o-linear-gradient(45deg, rgba(35, 35, 35, 0.4), rgba(35, 35, 35, 0.7)), url('img/Campus.jpg');
  background: linear-gradient(45deg, rgba(35, 35, 35, 0.4), rgba(35, 35, 35, 0.7)), url('img/Campus.jpg');
  background-size: cover;
  background-position: center;
}

.carousel-item2 {
  background: -o-linear-gradient(45deg, rgba(35, 35, 35, 0.4), rgba(35, 35, 35, 0.7)), url('img/library.jpg');
  background: linear-gradient(45deg, rgba(35, 35, 35, 0.4), rgba(35, 35, 35, 0.7)), url('img/library.jpg');
}

.carousel-item3 {
  background: -o-linear-gradient(45deg, rgba(35, 35, 35, 0.4), rgba(35, 35, 35, 0.7)), url('img/su.jpg');
  background: linear-gradient(45deg, rgba(35, 35, 35, 0.4), rgba(35, 35, 35, 0.7)), url('img/su.jpg');
  background-size: cover;
  background-position: center;
}

.carousel-caption {
  width: 800px;
  position: absolute;
  top: 55%;
  left: 10%;
  -webkit-transform: translate(10%, -55%);
  -ms-transform: translate(10%, -55%);
  transform: translate(10%, -55%);
}

.carousel-caption h5 {
  font-size: 4rem;
  font-weight: 800;
}

.carousel-caption p {
  display: inline-block;
  margin-top: 1.2rem;
  padding: 1rem 1.8rem;
  background: var(--color-base);
}

.carousel-caption p a {
  color: #fff;
  font-size: 1.3rem;
}


/* accessories */
.accessories-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}


/* clothing */
.clothing-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.service-row-img {
  height: 600px;
  width: 660px;
  -webkit-box-shadow: 4px 4px 15px gray;
  box-shadow: 4px 4px 15px gray;
}

.service-row-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.service-row-text {
  height: 420px;
  width: 680px;
  -webkit-box-shadow: 4px 4px 15px silver;
  box-shadow: 4px 4px 15px silver;
}


/* construnction */
.accessories-text {
  position: absolute;
  top: 50%;
  left: 90%;
  -webkit-transform: translate(-90%, -50%);
  -ms-transform: translate(-90%, -50%);
  transform: translate(-90%, -50%);
  background: #eee;
  border-radius: 0.2rem;
}


/* clothing */
.clothing-text {
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translate(-10%, -50%);
  -ms-transform: translate(-10%, -50%);
  transform: translate(-10%, -50%);
  background: #eee;
  border-radius: 0.2rem;
}

.service-row-text h2 {
  color: #444;
  font-size: 2.7rem;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 2rem 2rem 0 2rem;
  font-family: BerlinSansFBDemiBold;
}

.service-row-text h2::first-letter {
  color: var(--color-base);
  font-size: 3.2rem;
  font-weight: 600;
}

.service-row-text p {
  color: #444;
  font-size: 1.1rem;
  padding: 2rem 2rem 0 2rem;
}

.service-row-text p a {
  padding: 0.6rem 1rem;
  border: 2px solid var(--color-base);
  font-family: BerlinSansFBDemiBold;
}





/* Home Gallery 
------------------- */
.gallery {
  padding-bottom: 2rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-family: 'Berlin Sans FB';
}

.wrapper {
  margin: 1.4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.wrapper .filter-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
}

.filter-menu li {
  margin: 0.2rem 0.4rem;
  padding: 0.4rem 1rem;
  color: var(--color-base);
  cursor: pointer;
  font-size: 1.4rem;
  border: 3px solid var(--color-base);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;

}

.filter-menu li:hover,
.filter-menu li.active-menu {
  color: #fff;
  background: var(--color-base);
}

.gallery .filter-items {
  margin-top: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.filter-items .filter-content {
  position: relative;
  margin: 0.3rem;
  -ms-flex-preferred-size: calc(90% / 3);
  flex-basis: calc(90% / 3);
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  min-width: 320px;
  height: 300px;
  cursor: pointer;
  border-radius: 0.4rem;
  -webkit-box-shadow: 4px 4px 20px gray;
  box-shadow: 4px 4px 20px gray;
  overflow: hidden;
}


/* active or delete contents */
.filter-items .filter-content.deleteContents {
  display: none;
}

.filter-items .filter-content.activeContents {
  -webkit-animation: anim 0.3s ease-out forwards;
  animation: anim 0.3s ease-out forwards;
}

@-webkit-keyframes anim {
  from {
      -webkit-transform: scale(0.2);
      transform: scale(0.2);
  }

  to {
      -webkit-transform: scale(1);
      transform: scale(1);
  }
}

@keyframes anim {
  from {
      -webkit-transform: scale(0.2);
      transform: scale(0.2);
  }

  to {
      -webkit-transform: scale(1);
      transform: scale(1);
  }
}

.filter-items .filter-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border-radius: 0.4rem;
}

.filter-items .filter-content::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 34%, rgba(0, 0, 0, 0.9) 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(34%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.9)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 34%, rgba(0, 0, 0, 0.9) 100%);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.filter-items .filter-content::after {
  position: absolute;
  content: '';
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.filter-items .filter-content:hover::after {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.filter-items .filter-content .hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  width: 80%;
  font-size: 1.1rem;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transform: translate(-50%, -50%) scale(0.8);
  -ms-transform: translate(-50%, -50%) scale(0.8);
  transform: translate(-50%, -50%) scale(0.8);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 1;
}

.filter-items .filter-content:hover .hover-text {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}

.filter-items .filter-content .product-title-area {
  padding: 0 2rem 0 2rem;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 4rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.filter-items .filter-content .product-title-area p {
  color: #fff;
  font-size: 1.4rem;
}


/* Products Gallery
---------------------- */
.lightbox.product-lightbox {
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}


.filter-items.product-gallery .filter-content .hover-text {
  font-size: 2rem;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}

.filter-items.product-gallery .filter-content::before {
  width: 100%;
  height: 100%;
  background: rgba(25, 25, 25, 0.7);
  border-radius: 0.2rem;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transform: translateX(0) scale(1);
  -ms-transform: translateX(0) scale(1);
  transform: translateX(0) scale(1);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.filter-items.product-gallery .filter-content:hover::before {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  -webkit-transform: translateX(0) scale(0.9);
  -ms-transform: translateX(0) scale(0.9);
  transform: translateX(0) scale(0.9);
}

.filter-items.product-gallery .filter-content::after {
  width: 0;
  height: 0;
  -webkit-transform: translateX(0) scale(0);
  -ms-transform: translateX(0) scale(0);
  transform: translateX(0) scale(0);
}

.filter-items.product-gallery .filter-content:hover::after {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.lightbox-arrow {
  position: fixed;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 999999999;
}

.lightbox-arrow.show-lightbox-arrow {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.lightbox-arrow span {
  font-size: 4rem;
  color: #fff;
  cursor: pointer;
}

#left-arrow {
  margin-left: 4%;
}

#right-arrow {
  margin-right: 4%;
}
menu-bar ul li a:hover{
  color: rgb(180, 180, 180);
  border-radius: 5px;
  box-shadow: 0 0 5px white;
}

menu-bar ul ul li a:hover{
  color: rgb(180, 180, 180);
  box-shadow: none;
}

menu-bar ul ul{
  position: absolute;
  top: 90px;
  border-top: 3px solid black;
  opacity: 0;
  visibility: hidden;
  transition: top .3s; 
}

menu-bar ul ul ul{
  border-top: none;
}

menu-bar ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

menu-bar ul ul li{
  position: relative;
  margin: 0;
  width: 150px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}