@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}

.form.login{
  background-color: #dbaf36 ;
  position: relative;
  width: 450px;
  height: 550px;
  border: none;
  border-radius: 8px;
  overflow: hidden;


}
.form.login::before{
  content: '';
  top: -50%;
  left: -50%;
  position: absolute;
  width: 450px;
  height: 550px;
  background: linear-gradient(0deg,transparent,#0da6ab,#0da6ab);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;

}
.form.login::after{
  content: '';
  top: -50%;
  left: -50%;
  position: absolute;
  width: 450px;
  height: 550px;
  background: linear-gradient(0deg,transparent,#0da6ab,#0da6ab);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;

}

@keyframes animate {
  0% {
      transorm: rotate(0deg);
  }
  100%{
      transform: rotate(360deg);
  }
}

.form-content{
  position: absolute;
  inset: 2px;
  border-radius: 8px;
  background: #ffffff;
  z-index: 10;
}


.form{
    position: absolute;
    /* max-width: 430px;
    width: 100%; */
    padding: 30px;
    border-radius: 10px;
    background: #FFF;
    border: 1px solid black;
}
/* sign up */
.form.signup{
    opacity: 0;
    pointer-events: none;
}
.forms.show-signup .form.signup{
    opacity: 1;
    pointer-events: auto;
}
.forms.show-signup .form.login{
    opacity: 0;
    pointer-events: none;
}
header{
  margin-top: 20px;
    font-size: 28px;
    font-weight: 600;
    color: #89330a;
    text-align: center;
}
form{
    padding: 30px;
}
.form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}
.field input,
.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}
.field input{
    outline: none;
    padding: 0 15px;
    border: 1px solid black;
}
.field input:focus{
    border-bottom-width: 2px;
}
.eye-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}
.field button{
    color: #fff;
    background-color: #dbaf36;
    transition: all 0.3s ease;
    cursor: pointer;
}
.field button:hover{
    background-color: #b58c1d;
}
.form-link{
    text-align: center;
    margin-top: 10px;
}
.form-link span,
.form-link a{
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}
.form a{
    color: #0171d3;
    text-decoration: none;
}
.form-content a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 450px) {
    .form{
        padding: 20px 10px;
    }
    
}

