@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


*{
    font-family: 'Poppins', sans-serif;
}

.contact {
    padding: 5rem 0;
}

.contact-wrap {
    color: #444;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.contact-address {
    margin-right: 2rem;
    width: 36%;
    height: auto;
}

.contact-title h1 {
    color: steelblue;
}

.contact-title p {
    font-size: 1.2rem;
    width: 90%;
}

.contact-info div {
    margin-top: 2rem;
}

.contact-info div h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contact-info div h3 strong {
    margin-left: 1rem;
}

.contact-info div p {
    font-size: 1.2rem;
}

.contact-form {
    width: 40%;
    height: auto;
}

.contact-form form {
    width: 100%;
    height: auto;
}

.contact-form form .input-field {
    width: 100%;
    height: 48px;
    margin-bottom: 2rem;
}

.contact-form form .input-field input,
.contact-form form .input-field select {
    padding: 0 1rem;
    color: #444;
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0.1rem 0.1rem 0.6rem #ddd;
    box-shadow: 0.1rem 0.1rem 0.6rem #ddd;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.contact-form .textarea-field {
    height: 220px;
    width: 100%;
}

.textarea-field textarea {
    padding: 1rem;
    font-size: 1.2rem;
    height: 200px;
    width: 100%;
    border: none;
    border-radius: 10px;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0.1rem 0.1rem 0.6rem #ddd;
    box-shadow: 0.1rem 0.1rem 0.6rem #ddd;
}

.button-field {
    margin-top: 0.8rem;
}

.button-field button {
    color: #fff;
    font-size: 1.3rem;
    letter-spacing: 1px;
    width: 100%;
    height: 52px;
    background: steelblue;
    border: none;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
