<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
    <link rel="stylesheet" href="CSS/index.css" />
    <link rel="stylesheet" href="CSS/about.css" />
    <link rel="stylesheet" href="CSS/footer.css" />
    <link rel="stylesheet" href="CSS/script.js"/>
    <link rel="stylesheet" href="CSS/login.css"/>
    <link rel="stylesheet" href="CSS/contact.css"/>

    

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"> 
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    

    <!-- animation when scrolling -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    
    
    <!--JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/effeb5c9fd.js" crossorigin="anonymous"></script>
    
    
    <title>Aston Stop About</title>
  </head>
  <body>
    <div class="menu-bar">
        <h1 class="logo">CV<span>Stop</span></h1>
        <ul>
          <li><a href="Home.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="">Shop </a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="SignUP.html"> Register</a></li>
          <li><a href="Login.html"> Login</a></li>
           </div>
        </ul>
      </div>
 
  <div class="about container-xl" id="about">
        <div class="about-wrap">
            <div class="about-image">
                <img src="img/curtains.jpg" alt="curtains">
            </div>
            <div class="about-description">
                <h3>Welcome to Astop Stop</h3>
                <h1>Eco-Friendly & Affordable</h1>
                <p>We at Aston Stop provide affordable but premium quality products. We are recognised for celebrating the essence to aim to cater for students aged from sixteen onwards.</p>
                <p>Founded in 2023, Aston Stop delivers premium styling, quality and value to consumers worldwide. With a breadth of collections including men’s, women’s, kids, accessories and footwear </p>
                <p>We saw how students struggled to find items that conform to their wants and needs which are to be comfortable at university and have the stationary to do their work to the best of their ability so we decided to create our e-commerce website to help them achieve their goals while being comfortable for low prices.</p>
                <button>Contact Us </button>
            </div>
        </div>
        </div>
    </div>
    <!-- about section end -->

    <!-- customer review section start -->
    <div class="customer-review">
        <div class="review-title">
            <h1><span>Customer</span> Review</h1>
        </div>
        <div class="review-wrap">
            <div class="review-box">
                <p class="review-icon"><span class="icon-quote-left"></span></p>
                <p class="review-description">I took a gamble on this sweater, AstonStop clothing seems to sometimes be way different quality than what’s pictured but I was very happy when I received this sweater! It is thick, very soft and cozy! I can’t wait to cuddle up with this in the fall and winter months. The quality is excellent. It’s not cheap or thin. It is an oversized fit.</p>
                <p>- John Smith, 3rd Year Student at Aston University</p>
            </div>

            <div class="review-box">
                <p class="review-icon"><span class="icon-quote-left"></span></p>
                <p class="review-description">Excellent shirt! Very comfortable and it has a soft lining which keeps you warm. Great shirt, i wear it almost daily. It’s not water-proof so keep that in mind when outside. Also, get 1 size bigger so when it shrinks, it’ll still fit.</p>
                <p>- Hana Bailey, 1st Year Student at Aston University</p>
            </div>
        </div>
    </div>
    <!-- customer review section end -->





    <!-- footer section start -->
    <div class="footer">
        <div class="footer-content container-xxl">
            <div class="footer-col footer-col1">
                <p class="astonstop"><strong>Aston<span>Stop</span></strong></p>
                <p>With a focus on quality, affordablity and convienence. We have become a popular choice for students at Aston University and beyond. With a breadth of collections including men's, women's, kids, accessories and footwear. We should be your only option.</p>
                <div class="social-links">
                    <div class="social-link">
                        <span class="icon-facebook-f"></span>
                    </div>

                    <div class="social-link">
                        <span class="icon-twitter"></span>
                    </div>

                    <div class="social-link">
                        <span class="icon-linkedin-in"></span>
                    </div>

                    <div class="social-link">
                        <span class="icon-telegram-plane"></span>
                    </div>
                </div>
            </div>

            <div class="footer-col location">
                <p class="footer-col-title"><strong>Find Us</strong></p>
                <p>Main Building, Aston University</p>
                <div class="address">
                    <p><strong>Email: </strong><span>support@astonstop.com</span></p>
                </div>
            </div>
        </div>

        <footer class="copyright container-xxl">
            <p>Copyright &copy; 2023 - All Rights Reserved </p>
        </footer>
    </div>
    <!-- footer section end -->


    <!-- bootstrap cdn link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>

    <!-- aos cdn link -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <!-- custom js link -->
    <script src="script.js"></script>

  </body>
</html>
